.table td a {
    color: #666;
    font-size: 20px;
    line-height: 14px;
    opacity: .6;
    text-decoration: none;
}

.table td a:hover{
    color: #428bca;
    opacity: 1;
}

@media print {
    .no-print{
        display: none;
    }
    .page-header-fixed,
    .content,
    .panel-body{
        margin: 0px;
        padding: 0px;
    }
    .sidebar,
    .dataTables_wrapper>div>.col-sm-6,
    .panel-heading,
    .dataTables_length,
    .dataTables_filter{
        display: none;
    }
}