.property-box {
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    overflow: hidden;
    padding: 40px 20px 25px 20px;
    position: relative;
    text-align: center
}

.property-box.no-border {
    border: 0px
}

.property-box.small {
    padding-top: 30px
}

h3.property-box-title, h3.property-box-title a {
    color: #252525;
    font-size: 24px;
    font-weight: 600;
    margin: 0px
}

h3.property-box-title:after, h3.property-box-title a:after {
    display: none
}

.small h3.property-box-title, .small h3.property-box-title a {
    font-size: 14px
}

h4.property-box-subtitle, h4.property-box-subtitle a {
    color: #252525;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 15px;
    position: relative
}

.small h4.property-box-subtitle, .small h4.property-box-subtitle a {
    font-size: 11px;
    margin-bottom: 11px
}

.property-box-price {
    background-color: rgba(255, 255, 255, 0.85);
    color: #39b54a;
    display: block;
    font-size: 16px;
    font-weight: bold;
    left: 0px;
    padding: 8px 0px;
    position: absolute;
    right: 0px;
    top: 2px;
    width: 100%;
    z-index: 999
}

.small .property-box-price {
    font-size: 12px;
    height: 31px;
    line-height: 23px;
    padding: 4px 0px;
    top: 0px
}

.property-box-price-suffix {
    color: #252525;
    font-size: 10px;
    font-weight: bold
}

.property-box-picture {
    margin-bottom: -25px;
    margin-left: -20px;
    margin-right: -20px;
    position: relative
}

.property-box-picture-target {
    display: block;
    overflow: hidden
}

.property-box-picture-target img {
    width: 100%
}

.property-box-picture-inner {
    bottom: -2px;
    margin-left: -2px;
    margin-right: -2px;
    position: relative;
    z-index: 1
}

.no-border .property-box-picture-inner {
    bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    position: relative
}

.property-box-label {
    background-color: #cecece;
    color: #252525;
    font-size: 14px;
    font-weight: bold;
    left: -70px;
    padding: 5px 80px;
    position: absolute;
    top: 10px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    z-index: 2
}

.small .property-box-label {
    font-size: 11px;
    left: -54px;
    padding: 2px 60px;
    top: 7px
}

.property-box-label.property-box-label-primary {
    background-color: #39b54a;
    color: #fff
}

.property-box-meta {
    background-color: rgba(255, 255, 255, 0.85);
    border: 0px;
    bottom: -2px;
    left: -2px;
    position: absolute;
    right: -2px;
    z-index: 10
}

.property-box-meta-item {
    font-size: 11px;
    padding: 0px;
    text-align: center
}

.property-box-meta-item span {
    background-color: #fff;
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    padding: 6px 0px;
    line-height: 1
}

.property-box-meta-item strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0px
}

.properties-filter {
    line-height: 36px;
    margin-bottom: 30px;
    padding: 0px;
    text-align: center
}

.properties-filter li {
    display: inline-block;
    margin: 0px 10px
}

.properties-filter a {
    border: 2px solid transparent;
    color: #252525;
    font-size: 14px;
    font-weight: 300;
    padding: 8px 11px
}

.properties-filter .selected a {
    border-color: rgba(0, 0, 0, 0.1)
}

.property-rows {
    margin-bottom: -30px
}

.property-row {
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px
}

.property-row-picture {
    padding-right: 0px;
    border-right: 2px solid rgba(0, 0, 0, 0.1)
}

.property-row-picture img {
    width: 100%
}

.property-row-picture-inner {
    position: relative
}

.property-row-content {
    padding-right: 25px
}

h3.property-row-title, h3.property-row-title a {
    color: #252525;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px 10px 0px
}

h4.property-row-subtitle, h4.property-row-subtitle a {
    color: #252525;
    font-size: 12px;
    font-weight: 300
}

.property-row-price {
    color: #39b54a;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px
}

p.property-row-body {
    font-size: 12px
}

.property-row-meta {
    background-color: rgba(255, 255, 255, 0.85);
    border: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px
}

.property-row-meta-item {
    font-size: 11px;
    padding: 0px;
    text-align: center
}

.property-row-meta-item span {
    background-color: #fff;
    display: block;
    padding: 6px 0px;
    line-height: 1
}

.property-row-meta-item strong {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0px
}

.property-small {
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    padding: 10px 0px
}

.property-small:last-child {
    margin-bottom: 0px
}

.sidebar .property-small, .footer-light .property-small {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1)
}

.property-small-picture {
    padding-left: 10px;
    padding-right: 10px
}

.property-small-picture img {
    width: 100%
}

.property-small-picture-target {
    display: block
}

.property-small-content {
    padding-left: 0px
}

h3.property-small-title, h3.property-small-title a {
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 5px 0px
}

.sidebar h3.property-small-title, .footer-light h3.property-small-title, .sidebar h3.property-small-title a, .footer-light h3.property-small-title a {
    color: #252525 !important
}

.property-small-subtitle {
    font-size: 11px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7
}

.property-small-price {
    color: #39b54a;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px
}

.property-small-price-suffix {
    color: #fff;
    font-size: 12px;
    font-weight: normal
}

.sidebar .property-small-price-suffix, .footer-light .property-small-price-suffix {
    color: #252525 !important
}

.property-detail-amenities {
    margin: 0px;
    padding: 0px
}

.property-detail-amenities li {
    list-style: none;
    margin-bottom: 10px
}

.property-detail-amenities li i {
    font-size: 14px;
    margin-right: 7px;
    vertical-align: 0px
}

.property-detail-amenities li .ok {
    color: #39b54a
}

.property-detail-amenities li .no {
    color: #cecece
}

h2.property-detail-title, .block-content h3.property-detail-title {
    margin-bottom: 20px
}

h3.property-detail-subtitle {
    font-size: 16px
}

h3.property-detail-subtitle strong {
    background-color: #39b54a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin: 0px 0px 0px 20px;
    padding: 6px 15px;
    vertical-align: middle
}

.property-detail-overview {
    border: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px
}

.property-detail-overview-item {
    padding: 8px 0px;
    text-align: center
}

.property-detail-overview-item:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1)
}

.submit-property-list li:first-child {
    margin-top: -5px
}

.map-wrapper {
    margin-bottom: -1px
}

#map {
    border-bottom: 3px solid #39b54a;
    height: 553px
}

.map-wrapper {
    margin-top: -62px
}

.map-navigation-positioning {
    min-height: 0px
}

.map-navigation-wrapper {
    position: relative
}

.map-navigation {
    background-color: rgba(37, 37, 37, 0.9);
    border-top: 3px solid #39b54a;
    padding: 15px 0px 0px 0px;
    position: absolute;
    right: 0px;
    top: -471px;
    z-index: 9999
}

.map-navigation label {
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    margin: 0px 0px 5px 0px
}

.map-navigation-light .map-navigation label {
    color: #252525
}

.map-navigation-light .map-navigation {
    background-color: rgba(255, 255, 255, 0.85)
}

.map-navigation-light .map-navigation .form-control {
    border: 2px solid rgba(0, 0, 0, 0.1)
}

#map-property {
    border-bottom: 3px solid #39b54a;
    height: 200px
}

.marker {
    background-color: #fff;
    border: 3px solid #39b54a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 48px;
    line-height: 48px;
    position: relative;
    text-align: center;
    width: 48px
}

.marker:after {
    bottom: -13px;
    border: 4px solid transparent;
    border-top-color: #39b54a;
    border-top-width: 6px;
    content: '';
    display: block;
    height: 0px;
    left: 50%;
    margin-left: -4px;
    position: absolute;
    width: 0px
}

.marker-inner {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 42px;
    line-height: 40px;
    width: 42px
}

.marker-inner img {
    width: 26px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    padding-top: 7px;
}

.infobox {
    background-color: #39b54a;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
    height: 191px;
    padding: 0px;
    position: relative;
    width: 200px
}

.infobox:after {
    border: 6px solid transparent;
    border-top-color: #39b54a;
    bottom: -12px;
    content: '';
    display: block;
    height: 0px;
    left: 50%;
    margin-left: -6px;
    position: absolute;
    width: 0px
}

.infobox-header {
    background-color: #39b54a;
    color: #fff;
    padding: 8px 15px
}

.infobox-picture {
    height: 140px;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%
}

.infobox-picture a {
    height: 140px
}

.infobox-picture img {
    width: 100%
}

h3.infobox-title, h3.infobox-title a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0px 0px 5px 0px !important;
    padding: 0px
}

h4.infobox-subtitle, h4.infobox-subtitle a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    font-weight: normal;
    margin: 0px
}

.infobox-price {
    background-color: rgba(255, 255, 255, 0.85);
    bottom: 0px;
    color: #39b54a;
    font-size: 12px;
    font-weight: bold;
    left: 0px;
    line-height: 23px;
    padding: 4px 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    z-index: 2
}

.clusterer {
    background-color: #fff;
    border: 2px solid #39b54a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 48px;
    position: relative;
    text-align: center;
    width: 48px
}

.clusterer-inner {
    background-color: #39b54a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 40px;
    line-height: 38px;
    margin: 2px;
    width: 40px
}

.flexslider {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 30px
}

.flex-control-thumbs li {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 15px
}

.flex-control-thumbs img {
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    -webkit-backface-visibility: visible
}

.flex-direction-nav a {
    color: #39b54a;
    text-shadow: none;
    top: 40%
}

.flex-direction-nav a:before {
    height: 40px;
    line-height: 40px
}

.box {
    background-color: rgba(0,0,0,0.07);
    margin-bottom: 30px;
    padding: 20px;
}